.round {
  position: relative;
  label {
    background-color: $primary;
    border: 1px solid $color1;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    &:after {
      border: 2px solid $primary;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 7px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }
  input[type="checkbox"] {
    visibility: hidden;
    &:checked {
      + {
        label {
          background-color: $accent;
          border-color: $accent;
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }
}
